<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/mobileCss", "~/Content/css")
        <link rel="stylesheet" href="/content/slicknav.css" />
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div data-role="page" data-theme="b">
            <div data-role="header">

                <div id="menuContainer"></div>
            </div>
            <ul id="menuMine" style="display:none;">
                <li><a href="/">Home</a></li>
                <li><a href="/category">Categories</a></li>
                <li><a href="/transaction">Transactions</a></li>
            </ul>
            <div data-role="content">
                @RenderBody()
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        <script>
            $(document).on("mobileinit", function () {
                $.mobile.ajaxEnabled = false;
            });
        </script>
        @Scripts.Render("~/bundles/jquerymobile")
        @RenderSection("scripts", required: false)
        <script src="/Scripts/jquery.slicknav.min.js"></script>
        <script>
            $(function () {
                $('#menuMine').slicknav({
                    prependTo: '#menuContainer',
                    label: ''
                });
            });
        </script>
    </body>
</html>
